@charset "UTF-8";
/**
 Нормализация блочной модели
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* html,
*::before html,
*::after html {
  overflow-y: hidden;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  padding: 52px 0 0;
  z-index: 5;
}
.header .wrapper {
  width: 100%;
  max-width: 1532px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.header .header__top {
  padding: 0 22px;
  justify-content: space-between;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.header .header__top .header__offer-news {
  font-weight: 500;
  height: 50px;
  padding: 0 34px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 56px;
  transition: background-color 0.3s, opacity 0.3s, color 0.3s, border-color 0.3s;
  color: #9f0023;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  font-size: 16px;
  flex-shrink: 0;
}
.header .header__top .header__top-right {
  display: flex;
  align-items: center;
}
.header .header__top .header__phone {
  font-weight: 700;
  font-size: 20px;
  transition: color 0.3s;
}
.header .header__top .header__search {
  margin-left: 44px;
  cursor: pointer;
}
.header .header__bottom {
  padding: 0 22px;
  justify-content: space-between;
  border-bottom: 4px solid #373334;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}
.header .header__bottom .header__nav {
  display: flex;
  align-items: center;
}
.header .header__bottom .header__social {
  display: flex;
  align-items: center;
}
.header .header__bottom .header__social-list {
  display: flex;
}
.header .header__bottom .header__social-title {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 48px;
}
.header .header__bottom .header__nav > :not(:last-child) {
  margin-right: 48px;
}
.header .header__bottom .header__nav > * {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s;
}
.header .header__bottom .header__nav a {
  transition: color 0.3s;
}
.header .header__bottom .header__nav > .openable {
  display: flex;
  align-items: center;
  position: relative;
}
.header .header__bottom .header__nav > .openable > ul {
  z-index: 5;
  transition: opacity 0.2s, visability 0.2s, max-height 0.4s;
  max-height: 0;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: -28px;
  visibility: hidden;
  opacity: 0;
  padding: 10px 28px;
  background-color: #f2f2f2;
  min-width: 175px;
}
.header .header__bottom .header__nav > .openable:after {
  flex-shrink: 0;
  content: "";
  margin-left: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  width: 8px;
  height: 8px;
  margin-bottom: 5px;
  transform: rotate(-45deg);
}
.header .header__bottom .header__social-list a:not(:last-of-type) {
  margin-right: 17px;
}

.footer {
  background-color: #fff;
  padding: 50px 0;
  display: flex;
}
.footer img {
  min-width: 23px;
  height: 23px;
}
.footer .wrapper {
  width: 100%;
  max-width: 1532px;
  margin: 0 auto;
  position: relative;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
}
.footer .footer__top {
  padding-bottom: 50px;
  border-bottom: 1px solid;
}
.footer .footer__social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footer__social-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .footer__social-list {
  display: flex;
}
.footer .footer__social-list a {
  align-items: center;
  display: flex;
  max-width: 16px;
  flex-shrink: 0;
}
.footer .footer__social-list a:not(:last-of-type) {
  margin-right: 22px;
}
.footer .footer__bottom {
  padding: 45px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer .footer__copyright {
  display: flex;
  flex-direction: column;
}

.fresh-news {
  margin-top: 85px;
}
.fresh-news section {
  width: 100%;
  margin-bottom: 85px;
}
.fresh-news .wrapper {
  width: 100%;
  max-width: 1532px;
  margin: 0 auto;
  position: relative;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
}
.fresh-news .fresh-news__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 54px;
}
.fresh-news .fresh-news__top h1 {
  font-size: 86px;
  color: #333;
  font-weight: 700;
  line-height: 90%;
  max-width: 500px;
}
.fresh-news .fresh-news__top .fresh-news__all {
  font-weight: 500;
  height: 50px;
  padding: 0 34px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 56px;
  transition: background-color 0.3s, opacity 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: #373334;
  background: transparent;
  font-size: 16px;
  flex-shrink: 0;
}
.fresh-news .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 80px 48px;
  grid-auto-flow: dense;
}
.fresh-news .cards__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fresh-news .cards__item-img {
  overflow: hidden;
  width: 100%;
  padding-top: 57%;
  position: relative;
  margin-bottom: 20px;
  background-color: #d2d2d2;
  background-image: url(/local/templates/zlattv/css/../img/svg-sprite/plug.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
.fresh-news .cards__item-img img {
  transition: transform 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fresh-news .cards__item-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.fresh-news .cards__item-top p {
  font-weight: 400;
  color: #9f0023;
  margin-right: 20px;
}
.fresh-news .cards__item-top span {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 12px;
  color: #959595;
}
.fresh-news .cards__item-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
  transition: color 0.3s;
}
.fresh-news .cards__item-link {
  cursor: pointer;
  flex-shrink: 0;
  margin-top: auto;
  width: 18px;
  height: 17px;
  background: url(/img/arrow.png);
  background-size: contain;
}

.wide-banner {
  margin-top: 85px;
  margin-bottom: 85px;
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #373334;
  background-image: url(/img/gray_new.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 35%;
}

.hot-news {
  padding-top: 120px;
  position: relative;
}
.hot-news .wrapper {
  width: 100%;
  max-width: 1532px;
  margin: 0 auto;
  position: relative;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  padding-bottom: 170px;
  border-bottom: 4px solid #373334;
}
.hot-news .hot-news__tag {
  color: #9f0023;
  margin-bottom: 15px;
  font-weight: 400;
}
.hot-news .hot-news__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.hot-news .fadeInUp.js-visible {
  opacity: 1;
  transform: translateZ(0);
}
.hot-news .hot-news__left {
  width: 100%;
  padding-top: 70%;
  position: relative;
  margin-bottom: 20px;
  background-color: #d2d2d2;
  background-image: url(/img/main_img.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.hot-news .hot-news__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hot-news .hot-news__title {
  margin-bottom: 55px;
}
.hot-news h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.25;
}
.hot-news .hot-news__button {
  font-weight: 500;
  height: 50px;
  padding: 0 34px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 56px;
  transition: background-color 0.3s, opacity 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: #373334;
  background: transparent;
  font-size: 16px;
  flex-shrink: 0;
}
.hot-news .hot-news__slider {
  background: #fff;
  border-radius: 100px 0 0 100px;
  position: absolute;
  right: 0px;
  bottom: 200px;
  max-width: 600px;
  overflow: visible;
}
.hot-news .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.hot-news .hot-news__slider .swiper-pagination {
  display: flex;
  align-items: center;
  right: 50px;
  bottom: 30px;
  width: auto;
  left: unset;
}
.hot-news .hot-news__slider .swiper-slide {
  display: flex;
  align-items: center;
}
.hot-news .hot-news__slider-img {
  margin-right: 20px;
  width: 140px;
  height: 140px;
  border: 8px solid;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  transition: all 0.3s ease;
}
.hot-news .hot-news__slider-img a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.hot-news .hot-news__slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hot-news .hot-news__slider-text {
  max-width: 230px;
  font-weight: 400;
}

.vector {
  width: 100%;
  margin-bottom: 85px;
}
.vector .vector .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1532px;
  margin: 0 auto;
  position: relative;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
}
.vector .vector__top {
  width: 100%;
  display: flex;
  margin-bottom: 64px;
  justify-content: space-between;
  align-items: flex-end;
}
.vector h1 {
  max-width: 700px;
  font-size: 86px;
  color: #333;
}
.vector .vector__slider {
  margin-bottom: 85px;
}
.vector .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 60vh;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.vector .vector__slider .swiper-slide {
  width: 468px;
  height: 264px;
  margin-right: 50px;
}
.vector .cards__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vector .cards__item-img {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background-color: #d2d2d2;
  background-repeat: no-repeat;
  background-position: 50%;
}
.vector .cards__item-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.vector .cards__item-top span {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 12px;
  color: #959595;
}
.vector .cards__item-top p {
  font-weight: 400;
  color: #9f0023;
  margin-right: 20px;
}
.vector .cards__item-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
  transition: color 0.3s;
}
.vector .vector__buttons {
  height: 50px;
  display: flex;
  align-items: flex-end;
  padding-right: 22px;
}
.vector h1, .vector h2 {
  font-weight: 700;
  line-height: 90%;
}
.vector .vector__more {
  font-weight: 500;
  height: 50px;
  width: 220px;
  padding: 0 34px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 56px;
  transition: background-color 0.3s, opacity 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: #373334;
  background: transparent;
  font-size: 16px;
  flex-shrink: 0;
}
.vector .cards__item-link {
  cursor: pointer;
  flex-shrink: 0;
  margin-top: auto;
  width: 18px;
  height: 17px;
  background: url(/img/arrow.png);
  background-size: contain;
}

.premiere {
  background-color: #373334;
  padding: 120px 0 !important;
  margin-bottom: 0;
  color: #fff;
}
.premiere .wrapper {
  width: 100%;
  max-width: 1532px;
  margin: 0 auto;
  position: relative;
  padding: 0 22px;
  display: flex;
  flex-direction: column;
}
.premiere h1 {
  max-width: 700px;
  color: #fff;
  margin-bottom: 65px;
  font-size: 86px;
  font-weight: 700;
  line-height: 90%;
}
.premiere .premiere__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 64px;
  margin-bottom: 70px;
}
.premiere .premiere__pages {
  display: flex;
}
.premiere .premiere__page.active {
  display: flex;
}
.premiere .premiere__page.video::before {
  z-index: 1;
  pointer-events: none;
  content: "▶";
  font-size: 30px;
  padding-left: 5px;
  color: rgb(55, 51, 52);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: absolute;
  top: 58%;
  left: 25%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.65);
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
  background-color: 0;
}
.premiere .premiere__page.video {
  cursor: pointer;
}
.premiere .premiere__tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.premiere .premiere__tabs-item.active {
  border-bottom-width: 4px;
  border-top-width: 4px;
}
.premiere .premiere__tabs-item-date {
  margin-right: 70px;
}
.premiere .premiere__tabs-item-title {
  font-size: 24px;
  font-weight: 500;
}
.premiere .premiere__tabs-item-link {
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
  background: url(/img/arrow_white.png);
  color: white;
  background-size: contain;
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
}
.premiere .premiere__tabs-item {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 45px 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  transition: border 0.3s;
  flex-grow: 1;
}
.premiere .premiere__tabs-item:not(:first-of-type) {
  margin-top: -1px;
}
.premiere .premiere__tabs-item-title {
  font-size: 24px;
  font-weight: 500;
}
.premiere a {
  color: inherit;
}
.premiere a, .premiere h1, .premiere h2, .premiere h3, .premiere h4, .premiere h5, .premiere ol, .premiere ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.premiere .premiere__more {
  width: 165px;
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  padding: 0 34px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 56px;
  transition: background-color 0.3s, opacity 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  color: #fff;
  flex-shrink: 0;
}/*# sourceMappingURL=main.css.map */